/* general settings for centering items  */
html,
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

div {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

pre {
    margin: 1rem;
    padding: 2rem;
    background-color: whitesmoke;
}

code {
    font-size: 1.2em;
    display: flex;
    color: black;
}

a {
    color: #3CE3F5;
    text-decoration: none;
}

a:hover {
    color: #577AFF;
}

ol {
    color: blacksmoke;
}

li {
    padding: 1rem;
}

p {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black; 
    margin: 0;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: .5rem;
    margin-top: 0;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: .1rem;
    color: black;
}

h2 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 300;
    color: #333;
}

/* HOME SUBTITLE */
#page-subtitle{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    color: #CCADC3;
    margin-bottom: 2rem;
}

#documentation {
    background-color: rgb(194, 106, 167);
    color: white;
}

#documentation:hover {
    background-color: #693A5A;
}

#documentation-about {
    text-align: left;
    padding-bottom: 1rem;
}

#stylesheet-link {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    color:  rgb(194, 106, 167);
}

#stylesheet-link:hover {
    font-weight: bold;
}

/* ELEMENTS */

#nav-container {
    display: flex;
    align-self: center;
    background-color: #FFE7F7;
    width: 600px;
}
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .5rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
}

a {
    background-color: transparent;
    padding: 1rem;
    margin: 0;
    border-radius: 15px;
    color: black;
}

a:hover {
    /* background-color: rgba(rgb(63, 63, 63), green, blue, alpha); */
    background-color: rgba(0, 0, 0, 0.089);
    color: black;
}


button {
    display: flex;
    align-self: center;
    width: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: none;
    padding: .7rem;
    background-color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 100;
}

button:hover {
    transition: all .1s;
    background-color: rgb(228, 228, 228);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 200px;
    color: black;
    border: none;
    margin: 1rem;
    outline: none;
    border: none;
    padding: .7rem;
    font-size: 1rem;
}

fieldset {
    border: none;
    background-color: whitesmoke;
    font-size: 1rem;
    padding: 2rem;
}

input {
    font-size: 1.2rem;
    font-weight: 100;
    outline: none;
    padding: .7rem;
    border: 1px solid #ccc;
}

input::placeholder {
    font-size: 1rem;
    font-weight: 100;
}

.form-button {
    background-color: green;
    color: white;
}

/* FOCUS BUTTON STYLING */
/* button styling while not hovering */
#focus-button {
    width: 80px;
    height: 50px;
    background-color: transparent;
    font-family: Sans-Serif;
    text-align: center;
    box-direction: none;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    color: black;
    outline: none;
}
/* these are the button effects on hover */
#focus-button:hover {
    transition: all 1s;
    width: 150px;
    border-radius: 35px;
    font-size: 1em;
    background-color: rgb(0, 0, 0, 0.55);
}

/* container to hold the button */
#focus-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100%;
    padding: 0;
    margin: 1rem;
}


/* FLIP CHECK BUTTON STYLING */
#flip-check-container {
    width: 300px;
    height: 80px;
    background: pink;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

#flip-check-container svg {
    transform: rotate(180deg);
    transition: all .5s;
}

#flip-check-container__circle {
    width: 120px;
    height: 120px;
    background: mediumseagreen;
    border-radius: 50%;
    transform: rotate(-180deg);
}

#flip-check-container:hover {
    cursor: pointer;
}

#flip-check-button {
    background: red;
}

#flip-check-text {
    color: black;
    font-size: 2em;
    transition: all .9s;
}
