/* general settings for centering items  */
html,
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #154c81;
}

/* FOCUS BUTTON STYLING */
/* button styling while not hovering */
#focus-button {
    margin: 5rem;
    width: 80px;
    height: 50px;
    background-color: transparent;
    font-family: Sans-Serif;
    text-align: center;
    box-direction: none;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    color: white;
    outline: none;
}
/* these are the button effects on hover */
#focus-button:hover {
    transition: all 1s;
    width: 150px;
    border-radius: 35px;
    font-size: 1em;
    background-color: rgb(0, 0, 0, 0.55);
}

/* container to hold the button */
#focus-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* NAV STYLING */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    /* change the color of the nav here */
    background-color: white;  
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    
}

#nav-link-div {
    display: flex;
    flex-direction: row;
}

.nav-link {
    padding: 5px;
}
