/* general settings for centering items  */
html,
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* PAGE TITLE */
#page-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: .1rem;
    color: white;
}
/* PAGE SUBTITLE */
#page-subtitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white; 
}



/* elements */


/* NAV STYLING */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    /* change the color of the nav here */
    background-color: white;  
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    
}

#nav-link-div {
    display: flex;
    flex-direction: row;
}

.nav-link {
    padding: 5px;
}

/* FOCUS BUTTON STYLING */
/* button styling while not hovering */
#focus-button {
    margin: 5rem;
    width: 80px;
    height: 50px;
    background-color: transparent;
    font-family: Sans-Serif;
    text-align: center;
    box-direction: none;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    color: white;
    outline: none;
}
/* these are the button effects on hover */
#focus-button:hover {
    transition: all 1s;
    width: 150px;
    border-radius: 35px;
    font-size: 1em;
    background-color: rgb(0, 0, 0, 0.55);
}

/* container to hold the button */
#focus-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* FORM V1 STYLING */
#form-v1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 200px;
    place-items: center;
    color: white;
    border: none;
}

#form-v1-fs {
}

#form-v1-btn {
    display: grid;
    align-self: center;
    border: none;
    outline: none;
    background-color: whitesmoke;
    text-transform: uppercase;
    padding: .5em;
}

/* FLIP CHECK BUTTON STYLING */
#flip-check-container {
    width: 300px;
    height: 80px;
    background: pink;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

#flip-check-container svg {
    transform: rotate(180deg);
    transition: all .5s;
}

#flip-check-container__circle {
    width: 120px;
    height: 120px;
    background: mediumseagreen;
    border-radius: 50%;
    transform: rotate(-180deg);
}

#flip-check-container:hover {
    cursor: pointer;
}

#flip-check-button {
    background: red;
}

#flip-check-text {
    color: white;
    font-size: 2em;
    transition: all .9s;
}
